html {
    font-size: 2vw;
}

html, body {
	margin: 0;
	padding: 0;
}

/*HEADER PART*/
header {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: space-between;
	left: 0;
	top: 0;
	width: 100%;
	height: 6vw;
    background: white;
	box-shadow: 0 2px 5px 2px #999999;
	-moz-box-shadow: 0 2px 5px 2px #999999;
	-webkit-box-shadow: 0 2px 5px 2px #999999;
    border: 2px solid black;
}

#headerLogo {
	position: relative;
	width: 25vw;
	height: 3.23vw;
	margin: 2.1vw 2vw 2vw 5vw;
}

#headerButtons {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 60%;
    margin-right: 5vw;
}

.hButtons {
    border: none;
	outline: none;
	font-family: "Bookman Old Style", serif;
	font-weight: bold;
	margin: 15px 0 18px 2.2%;
	width: fit-content;
	height: 2.3vw;
    font-size: 1.6vw;
	background: transparent;
}

.hButtons:active {
	color: #e6e600;
}

.yellowBigButton {
	font-family: "Bookman Old Style", serif;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #ffff00;
}

#consultButton {
	width: 17vw;
	height: 3vw;
    margin-left: 5%;
	font-size: 0.92vw;
}

#unfoldHeaderContainer {
	display: none;
	width: 100%;
}

#unfoldButton {
	background-image: url("../images/UnfoldButton.png");
	background-color: transparent;
	border: none;
	outline: none;
	background-size: 100%;
}

#makeOrderBtn {
	margin-top: 2.05vw;
	width: 18vw;
	font-size: 1.1vw;
	height: 3vw;
}

#consultButton:active, #makeOrderBtn:active {
	background-color: #e6e600;
}

/*MAIN PART*/
main {
	text-align: center;
	margin-top: 6vw;
	width: 100%;
	min-height: 100%;
}

#upperBackground {
	width: 100%;
    height: 30vw;
    background-size: 100%;
	background-position-x: 50%;
    background-position-y: 40%;
    background-image: url("../images/HeaderBackground.png");
}

#backgroundKravchukCoin {
	text-align: center;
    width: 100%;
    height: 31.5vw;
	background-image: url("../images/KravchukCoin.png");
	background-repeat: no-repeat;
	background-size: 32.2%;
	background-position-y: 100%;
	background-position-x: 50%;
}

#weSuggestTextHolder {
	background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
	height: 12vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
}

#weSuggestText {
	font-family: "Bookman Old Style", serif;
	font-size: 2.6vw;
	padding: 2.6vw;
}

#suggestWrapper {
	width: 100%;
	height: fit-content;
	background-color: rgba(255, 255, 0, 0.85);
}

#weSuggestDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 13.5vw;
}

.suggestionDiv {
	width: 14.1vw;
	margin: 1.6vw 0.9vw 0.9vw 0.9vw;
}

.suggestionTextH {
	font-family: "Bookman Old Style", serif;
	padding: 0.55vw;
    font-size: 1.25vw;
}

.suggestionLine {
	margin-left: 5.5vw;
	margin-right: 5.5vw;
	margin-top: -1vw;
	border-color: #adadad;
}

.suggestionText {
	font-family: "Sitka Text", serif;
	font-size: 0.95vw;
}

#whiteEmptiness {
	width: 100%;
	height: 3.5vw;
	background-color: rgba(255, 255, 255, 0.85);
}

#kravchukMarketingDiv {
	text-align: center;
	width: 100%;
    height: 27vw;
    margin-top: -2.2vw;
	background-size: 100%;
	background-position-x: 50%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	background-image: url("../images/UnityPower.png");
}

#kravchukTag {
	padding-top: 11.4vw;
	font-family: "Sitka Heading", serif;
	font-size: 4.3vw;
	color: #ffff00;
}

#kravchukText {
	margin-top: -1.4vw;
	font-weight: bold;
	font-family: "Sitka Heading", serif;;
	font-size: 1.3vw;
	color: #ffffff;
}

/*MARKETING DETAILS*/
#marketingDetails, #marketingDetailsUnfold {
	display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
}

#aboutMarketing {
	background-image: url("../images/ProMarketing.png");
}
#aboutSEO {
	background-image: url("../images/SEO.png");
}
#aboutSMM {
	background-image: url("../images/SMM.png");
}

.detailsM {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 26vw;
    height: 43vw;
	margin-left: -2px;
    background-size: 100% 100%;
}

.blogTag {
	text-align: left;
	font-family: "Sitka Small", serif;
	color: #ffffff;
	width: 70%;
	font-size: 1.15vw;
	padding-top: 0.3vw;
}

.photosInDetails {
	width: 18.2vw;
	margin-top: 0.4vw;
}

.headerDetails {
	text-align: center;
	font-weight: bold;
	width: 70%;
	height: 4.5vw;
	font-size: 1.32vw;
	color: #ffff00;
	border: 3px solid #ffff00;
}

.textDetails {
    text-align: left;
	font-family: "Sitka Small", serif;
	color: #ffffff;
	font-size: 1.1vw;
}
.unfold {
	color: #797777;
	font-size: 0.9vw;
}

/*UNFOLDED PART*/
#aboutMarketingUnfold {
	background-image: url("../images/proMarketingUnfold.png");
}
#aboutSEOUnfold {
	background-image: url("../images/SEOUnfold.png");
}
#aboutSMMUnfold {
	background-image: url("../images/SMMUnfold.png");
}

#marketingDetailsUnfold {
	display: none;
}

.textDetailsUnfold, .yellowText {
	font-family: "Sitka Small", serif;
	width: 92%;
	font-size: 0.9vw;
}
.textDetailsUnfold {
	color: #ffffff;
}
.yellowText {
	font-weight: bold;
	color: #ffff00;
}

/*BEFORE FOOTER PART*/
#whyUsHeader {
	margin-top: 6.25vw;
	font-size: 2.35vw;
}

#whyUsDiv {
	margin-top: -1.8vw;
	width: 99.9%;
	height: 81vw;
	background-image: url("../images/YellowRectangles.png");
	background-size: 100%;
	background-position-y: 95%;
	background-repeat: no-repeat;
}

#personalApproach {
	text-align: left;
	width: fit-content;
	margin-top: 14vw;
	margin-bottom: 1vw;
	margin-left: 15.8vw;
}

#system {
	float: right;
	width: fit-content;
	text-align: right;
	margin-top: 1.8vw;
	margin-right: 15vw;
}

#businessUnderKey {
	width: fit-content;
	text-align: left;
	margin-top: 14.35vw;
	margin-left: 23vw;
}

.whyUsHeaders {
	font-family: "Sitka Small", serif;
	font-size: 2.2vw;
}

.whyUsLineLeft {
	border: 0.5px solid black;
	margin-right: 15vw;
	margin-top: -1vw;
}

#whyUsLineRight{
	border: 0.5px solid black;
	margin-left: 22vw;
	margin-top: -1.2vw;
}

.whyUsText {
	font-family: "Sitka Small", serif;
	padding-top: 0.8vw;
	font-size: 1.4vw;
}

#contactsContainer {
	margin-top: -8vw;
	height: 24vw;
	width: 100%;
}

#leaveContactDetails {
	float: left;
	margin-left: 20%;
	margin-top: -1.2vw;
}

#biggerTextQuestion {
	font-family: "Sitka Text", serif;
	font-size: 1.56vw;
	font-weight: bold;
}

#leaveContactText {
	font-family: "Sitka Text", serif;
	font-size: 1.2vw;
	font-weight: bold;
	margin-top: -1vw;
}

.inputBox {
	border: 1px solid black;
	border-radius: 4px;
	font-family: "Sitka Small", serif;
	font-size: 0.95vw;
	width: 19.5vw;
	height: 2.25vw;
	padding: 0.3vw;
	margin-top: 0.3vw;
}

.inputBox:invalid {
	background-color: #ffe6e6;
}

.inputBox:focus {
	outline: 3px solid yellow;
	background: white;
}

#yourPhoneNumber {
	margin-top: 0.7vw;
}

#ourContacts {
	display: flex;
	justify-content: center;
	flex-direction: column;
	float: right;
	text-align: left;
	margin-top: 10vw;
 	width: 40vw;
	height: 9.5vw;
	background-color: #ffff00;
}

.dataContainer {
	margin-left: 2.1vw;
}

.contactImg {
	width: 1.1vw;
}

.contactInfo {
	font-family: "Sitka Text", serif;
	font-weight: bold;
	font-size: 0.95vw;
}

#dataHasBeenSent {
	text-align: center;
	width: 20vw;
	height: 7.5vw;
	border: 1px solid transparent;
	margin-top: 2vw;
	background-image: url("../images/TickIcon.png");
	background-repeat: no-repeat;
	background-size: 39%;
	background-position-x: 50%;
}

#headerDataSent {
	font-family: "Sitka Small", serif;
	font-size: 1.4vw;
}

#footerBackground {
	position: relative;
	height: 10.85vw;
	background-image: url("../images/bigTextLogo.png");
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-size: 80%;
}


/*Todo Cool resize*/
@media screen and (max-width: 890px){
    /*TABLETS*/
    header, main, footer {
        width: 100%;
    }
    header {
        display: inline;
		height: fit-content;
    }
    #headerLogo, #consultButton {
        display: none;
    }

	#unfoldHeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 8vw;
        border-bottom: 1px solid #999999;
    }
	#unfoldHeaderLogo {
		width: 30vw;
		height: auto;
		margin-left: 1.75vw;
	}
	#unfoldConsultButton {
        font-size: 2.7vw;
        height: 6vw;
    }
    #unfoldButton {
        width: 6vw;
        height: 6vw;
		margin-right: 3.6%;
    }
    #headerButtons {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    .hButtons {
		margin: 0;
		width: fit-content;
		height: 8vw;
		font-size: 4.5vw;
    }


	main {
		margin-top: 8vw;
	}

	#backgroundKravchukCoin {
		background-size: 33%;
		background-position-y: 10%;
	}
	#weSuggestTextHolder {
		height: 13vw;
	}
	#weSuggestDiv {
		height: 16vw;
	}
	.suggestionDiv {
		width: fit-content;
	}
	#weSuggestText {
		font-size: 3.65vw;
	}
	.suggestionTextH {
		margin-top: 0.1vw;
		font-size: 1.7vw;
	}
	.suggestionText {
		font-size: 1.4vw;
	}
	#whiteEmptiness {
		display: none;
	}

	#kravchukMarketingDiv {
		margin-top: 1vw;
	}
	#kravchukTag {
		padding-top: 8vw;
		font-size: 5.25vw;
	}
	#kravchukText {
		font-size: 1.8vw;
	}

	#marketingDetails, #marketingDetailsUnfold {
		flex-direction: column;
		align-items: center;
	}
	.detailsM {
		width: 40%;
		height: 70vw;
	}
	.blogTag {
		font-size: 1.5vw;
		margin-top: 3vw;
	}
	.photosInDetails {
		width: 70%;
		margin-top: 1vw;
	}
	.headerDetails {
		font-size: 2.2vw;
		height: 8vw;
	}
	.textDetails {
		font-size: 1.8vw;
	}
	.unfold {
		font-size: 1.6vw;
	}
	.textDetailsUnfold, .yellowText {
		font-size: 1.399vw;
	}
	#aboutSEO, #aboutSEOUnfold, #aboutSMM, #aboutSMMUnfold {
		margin-top: 15px;
	}

	#whyUsHeader {
		font-size: 3.35vw;
	}
	.whyUsHeaders {
		font-size: 2.9vw;
	}
	.whyUsLineLeft {
		margin-right: 9vw;
	}
	.whyUsText {
		font-size: 1.6vw;
	}
	#businessUnderKey {
		margin-left: 10vw;
	}


	#leaveContactDetails {
		margin-left: 15%;
	}
	#biggerTextQuestion {
		font-size: 2vw;
	}
	#leaveContactText {
		font-size: 1.55vw;
	}
	.inputBox {
		width: 25vw;
		height: 2.75vw;
		font-size: 1.2vw;
	}
	#makeOrderBtn {
		width: 22vw;
		height: 4vw;
		font-size: 1.45vw;
	}
	#dataHasBeenSent {
		width: 24vw;
		height: 9.5vw;
	}
	#headerDataSent {
		font-size: 1.73vw;
	}


	#ourContacts {
		height: 11vw;
	}
	.contactInfo {
		font-size: 1.4vw;
	}
}

@media screen and (max-width: 535px) {
	#unfoldHeaderContainer {
		width: 100%;
		height: 13vw;
	}
	#unfoldHeaderLogo {
		width: 34vw;
	}
	#unfoldConsultButton {
		font-size: 3vw;
		height: 8.5vw;
	}
	#unfoldButton {
		margin-right: 1.5%;
	}
	.hButtons {
		height: 8vw;
		font-size: 6vw;
	}
	#upperBackground {
		margin-top: 13vw;
	}

	/*--------------RESIZING WE SUGGEST--------------*/
	#backgroundKravchukCoin {
		background-image: none;
	}
	#weSuggestTextHolder {
		height: 19.5vw;
	}
	#weSuggestText {
		font-size: 6vw;
	}
	#suggestWrapper {
		background-image: url("../images/KravchukCoin.png");
		background-repeat: space;
		background-size: 75%;
		background-position-y: 100%;
		background-position-x: 50%;
	}
	#weSuggestDiv {
		display: flex;
		flex-wrap: wrap;
		height: fit-content;
		background-color: rgba(255, 255, 0, 0.85);
	}
	.suggestionDiv {
		width: 100%;
	}
	.suggestionTextH {
		font-size: 5vw;
	}
	.suggestionLine {
		margin-left: 35%;
		margin-right: 35%;
	}
	.suggestionText {
		font-size: 4vw;
	}

	/*-----------KRAVCHUK MARKETING DIV-----------*/
	#kravchukMarketingDiv {
		margin-top: 150vw;
	}
	#kravchukTag {
		font-size: 8vw;
		margin-bottom: 1vw;
	}
	#kravchukText {
		font-size: 2.8vw;
	}

	.detailsM {
		width: 100%;
		height: 160vw;
	}
	.blogTag {
		font-size: 5vw;
		margin-top: 5.8vw;
	}
	.headerDetails {
		font-size: 5.2vw;
		height: 19vw;
	}
	.textDetails {
		font-size: 3.8vw;
		margin: 0;
	}
	.unfold {
		font-size: 3.4vw;
	}
	.textDetailsUnfold, .yellowText {
		font-size: 3.4vw;
	}

	/*-----------WHY KRAVCHUK-MARKETING-----------*/
	#whyUsDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4vw;
		width: 100%;
		height: fit-content;
		background-image: none;
		background-color: #ffff00;
		padding-top: 5vw;
	}

	#whyUsHeader {
		font-size: 5vw;
		margin: 0;
		padding: 0;
	}

	#personalApproach, #system, #businessUnderKey {
		text-align: center;
		margin: 0;
		width: 100%;
	}

	.whyUsHeaders {
		font-size: 5vw;
	}

	.whyUsLineLeft, #whyUsLineRight {
		margin-right: 9vw;
		margin-left: 9vw;
		margin-top: -4vw;
	}

	.whyUsText {
		font-size: 3.3vw;
	}
	/*---------Make Order Part---------*/
	#contactsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3vw;
		height: fit-content;
	}
	#leaveContactDetails {
		text-align: center;
		margin-left: 0;
	}
	#biggerTextQuestion {
		font-size: 4.5vw;
	}
	#leaveContactText {
		font-size: 3.3vw;
	}
	.inputBox {
		width: 50vw;
		height: 6vw;
		font-size: 3vw;
	}
	#makeOrderBtn {
		width: 60vw;
		height: 10vw;
		font-size: 4.5vw;
		margin-top: 4vw;
	}
	#dataHasBeenSent {
		align-items: center;
		justify-content: center;
		width: 100%;
		height: fit-content;
		background-size: 29%;
	}
	#headerDataSent {
		font-size: 4vw;
		margin-top: 4vw;
	}
	#ourContacts {
		text-align: center;
		width: 100%;
		margin-top: 6vw;
		height: fit-content;
	}
	.dataContainer {
		height: 6vw;
	}
	.contactImg {
		width: 3vw;
	}
	.contactInfo {
		font-size: 3.5vw;
	}


	#footerBackground {
		display: none;
	}
}